<div class="message" id="message-<%= message.id %>">
  <div class="card-body msg_card_body">
    <%# ユーザー %>
      <% if message.user_id.present? %>
        <div class="d-flex justify-content-end mb-4">
          <div id="me-message">
            <%= image_tag message.image.variant(resize: '400x400'), class: 'message-image' if message.image.attached? %>
              <p><%= " #{message.content}" %></p>
            <span id="me-time"><%= l message.created_at, format: '%H:%M' %></span>
          </div>
          <div class="img_cont_msg">
            <%= image_tag "no_image.png", class:"rounded-circle user_img_msg" %>
          </div>
        </div>
        <% else %>
        <div class="d-flex justify-content-start mb-4">
          <div  class="img_cont_msg">
            <%= image_tag "no_image.png", class:"rounded-circle user_img_msg" %>
          </div>
          <div id="you-message">
            <%= image_tag message.image.variant(resize: '400x400'), class: 'message-image' if message.image.attached? %>
              <p><%= " #{message.content}" %></p>
            <span id="you-time"><%= l message.created_at, format: '%H:%M' %></span>
          </div>
        </div>
      <% end %>
    <%#// ユーザー %>


    <%# スタイリスト %>
      <% if message.stylist_id.present? %>
        <div class="d-flex justify-content-end mb-4">
          <div id="me-message">
            <%= image_tag message.image.variant(resize: '400x400'), class: 'message-image' if message.image.attached? %>
              <p><%= " #{message.content}" %></p>
            <span id="me-time"><%= l message.created_at, format: '%H:%M' %></span>
          </div>
          <div class="img_cont_msg">
            <%= image_tag "no_image.png", class:"rounded-circle user_img_msg" %>
          </div>
        </div>
        <% else %>
        <div class="d-flex justify-content-start mb-4">
          <div  class="img_cont_msg">
            <%= image_tag "no_image.png", class:"rounded-circle user_img_msg" %>
          </div>
          <div id="you-message">
            <%= image_tag message.image.variant(resize: '400x400'), class: 'message-image' if message.image.attached? %>
              <p><%= " #{message.content}" %></p>
            <span id="you-time"><%= l message.created_at, format: '%H:%M' %></span>
          </div>
        </div>
      <% end %>
    <%#// スタイリスト %>
  </div>
</div>
