<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部のタイトル帯部分 %>
  <div class='title-contents service-title'>
  </div>
  <%# /画面上部のタイトル帯部分  %>


  <%# CONNECT Stylist の特徴部分 %>
  <div class='select-future-contents'>
    <h2 class='title'>
      プロのスタイリストと繋がる<br>ネットショッピングサポートサービス
    </h2>
    <ul class='future-lists'>
      <li class='list'>
        <%= image_tag "parsonalstylist-intro01.png", class:"list-pict" %>
        <h3 class='future-list-text'>
          <span class='future-list-blue-text'>無料</span>
          で骨格診断
        </h3>
        <p class='future-list-description'>
          質問に答えるだけ！<br>３分で診断ができる
        </p>
      </li>
      <li class='list'>
        <%= image_tag "parsonalstylist-intro02.png", class:"list-pict" %>
        <h3 class='future-list-text'>
          オンライン
          <span class='future-list-blue-text'>完結</span>
        </h3>
        <p class='future-list-description'>
          チャットやビデオ通話で<br>スタイリストがアドバイス
        </p>
      </li>
      <li class='list'>
        <%= image_tag "parsonalstylist-intro03.png", class:"list-pict" %>
        <h3 class='future-list-text'>
         <span class='future-list-blue-text'>リーズナブル</span>
        </h3>
        <p class='future-list-description'>
          月額９８０円で何度でも<br>スタイリストに質問できる
        </p>
      </li>
    </ul>
  </div>
  <%# /CONNECT Stylist の特徴部分 %>


  <%# 無料診断リンク %>
  <div class='item-contents'>
    <%= link_to '無料で骨格診断', new_diagnosis_path, data: {"turbolinks" => false}, class: "button-2" %>
  </div>
  <%# /無料診断リンク %>



  <%# CONNECT Stylistのサービス内容 %>
  <div class='feature-contents'>
    <h2 class='title'>
      あなたの骨格にあったスタイリングをアドバイス<i class="fas fa-comments"></i>
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <div class='feature-list-description'> 
          <span>「プロのスタイリストにショッピング同行をしてもらいたいけど、<br>スタイリストを見つけられない...料金が高い...」</span>
          <br>そんなことを思ったことはありませんか？<br>
        </div>
    </ul>
    <div class='feature-list-description'> 
      <%= image_tag "parsonalstylist-intro04.png", class:"stylist-intro" %>
      <br><span>CONNECT Stylist</span>では、<br>チャットやビデオ通話を使い事前に診断した骨格タイプをもとに<br>スタイリストが<span>失敗しがちなネットショッピングをサポート！</span><br>
      ネット完結＆サブスクリプションだから<br>手軽にご利用いただけます。
    </div>
  </div>
  <%# /CONNECT Stylistのサービス内容 %>

  <%# スタイリストについて %>
  <div class='feature-contents'>
    <h2 class='title'>CONNECT Stylistに在籍するのはプロのスタイリスト</h2>
    <%= image_tag "parsonalstylist-intro05.png", class:"stylist-intro" %>
  </div>
  <div class='feature-list-description'> 
  業界屈指のパイオニアICBIにて骨格診断ファッションアナリスト、<br>
  パーソナルカラーアナリストを受講してプロと認められたスタイリストのみが在籍。<br>
  それぞれ販売員経験やネットショップでの勤務経験があるスタイリストが揃っています。
  <br>
  （スタイリストとチャットするには月額980円の会員登録が必要です。）
  </div>
  <%# /スタイリストについて %>
</div>

<%# 会員登録 %>
<div class='item-contents'>
  <%= link_to '会員登録', new_user_registration_path, class: "button-2" %>
</div>
<%# /会員登録 %>

<%= render "shared/footer" %>

<% if user_signed_in? %>
  <div class ='purchase-btns'>
    <%= link_to new_reservation_path, class: 'purchase-btn' do %>
      <span class='purchase-btn-text'>スタイリスト予約</span>
    <% end %>
  <% end%>
</div>
