<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部のタイトル帯部分 %>
  <div class='title-contents service-title'>
  </div>
  <%# /画面上部のタイトル帯部分  %>


  <%# CONNECT Stylist の特徴部分 %>
  <div class='select-future-contents'>
    <h2 class='title'>
      プロのスタイリストと繋がるネットショッピングサポートサービス
    </h2>
    <ul class='future-lists'>
      <li class='list'>
        <%= image_tag "parsonalstylist-intro01.png", class:"list-pict" %>
        <h3 class='future-list-text'>
          <span class='future-list-blue-text'>無料</span>
          で骨格診断
        </h3>
        <p class='future-list-description'>
          質問に答えるだけ！３分で診断ができる
        </p>
      </li>
      <li class='list'>
        <%= image_tag "parsonalstylist-intro02.png", class:"list-pict" %>
        <h3 class='future-list-text'>
          オンライン
          <span class='future-list-blue-text'>完結</span>
        </h3>
        <p class='future-list-description'>
          チャットとオンライン通話でスタイリストがアドバイス
        </p>
      </li>
      <li class='list'>
        <%= image_tag "parsonalstylist-intro03.png", class:"list-pict" %>
        <h3 class='future-list-text'>
         <span class='future-list-blue-text'>リーズナブル</span>
        </h3>
        <p class='future-list-description'>
          月額９８０円で何度でもスタイリストに質問できる
        </p>
      </li>
    </ul>
  </div>
  <%# /CONNECT Stylist の特徴部分 %>


  <%# 無料診断リンク %>
  <div class='item-contents'>
    <%= link_to '無料で骨格診断', "#", class: "subtitle button-2" %>
  </div>
  <%# /無料診断リンク %>



  <%# CONNECT Stylistのサービス内容 %>
  <div class='feature-contents'>
    <h2 class='title'>
      サービス内容
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%#= image_tag "furima-intro04.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          無料で骨格診断ができる
        </h3>
        <p class='feature-list-description'>
          オンラインで質問に答えるだけで骨格タイプを診断できます。クリックするだけだから３分で診断結果が分かります。
        </p>
      </li>
      <li class='list'>
        <%#= image_tag "furima-intro05.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          あなたの骨格にあったスタイリングをアドバイス
        </h3>
        <p class='feature-list-description'> 
          「プロのスタイリストにショッピング同行をしてもらいたいけど、スタイリストを見つけられない...料金が高い...」そんなことを思ったことはありませんか？<br><br>
          CONNECT Stylistでは、チャットやビデオ通話を使いプロスタイリストがアドバイスをします。
          事前に診断した骨格タイプをもとに、あなたに本当に似合うスタイリングをアドバイスして、失敗しがちなネットショッピングをサポートします。
        </p>
    </ul>
  </div>
  <%# /CONNECT Stylistのサービス内容 %>

  <%# 商品一覧 %>
  <div class='feature-contents'>
    <h2 class='title'>スタイリスト紹介</h2>
  </div>
  <%# /商品一覧 %>
</div>
<% if user_signed_in? %>
  <div class ='purchase-btns'>
    <%= link_to new_reservation_path, class: 'purchase-btn' do %>
      <span class='purchase-btn-text'>スタイリストに聞く</span>
    <% end %>
  <% end%>
</div>
<%#= render "shared/footer" %>