<div class="message" id="message-<%= message.id %>">
  <!-- 投稿したユーザー名情報を出力する -->
  
  <% if stylist_signed_in? %>
    <%= "スタイリスト:  #{message.stylist.last_name} #{message.stylist.first_name} "%>
    <%= l message.created_at, format: '%Y年%-m月%-d日(%a) %H:%M' %></p>
    <%= simple_format(h message.content) %>
  <% end %>

  <% if user_signed_in? %>
    <%= "#{message.user.nickname} さん"%>
    <%= l message.created_at, format: '%Y年%-m月%-d日(%a) %H:%M' %></p>
    <%= simple_format(h message.content) %>
  <% end %>
  
  <%#= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
</div>