<div class="message" id="message-<%= message.id %>">
<%# スタイリストのメッセージ %>
  <% if message.stylist_id.present?%>
    <%= "スタイリスト:  #{message.stylist.last_name} #{message.stylist.first_name} "%>
    <%= l message.created_at, format: '%Y年%-m月%-d日(%a) %H:%M' %></p>
    <%= simple_format(h message.content) %>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  <% end %>
<%# //スタイリストのメッセージ %>

<%# ユーザーのメッセージ %>
  <% if message.user_id.present?%>
    <%= "#{message.user.nickname} さん"%>
    <%= l message.created_at, format: '%Y年%-m月%-d日(%a) %H:%M' %></p>
    <%= simple_format(h message.content) %>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  <% end %>
<%#// ユーザーのメッセージ %>
</div>