<div class='chat-room-form'>
  <h1>スタイリストとチャット</h1>
  <%=form_with model: @room, local: true do |f|%>
   <%= render 'shared/error_messages', model: f.object%>

    <div class='chat-room-form__field'>
      <p class="form-text">お探しのスタイリングの用途</p>
    </div>
      <%= f.collection_select(:purpose_id, Purpose.all, :id, :name, {}, {class:"select-box", id:"purpose"}) %>

    <div class='chat-room-form__field'>
      <p class="form-text">好きなファッションのスタイル</p>
    </div>
      <%= f.collection_select(:style_id, Style.all, :id, :name, {}, {class:"select-box", id:"style"}) %>

    <div class='chat-room-form__field'>
      <label class="form-text">その他をお選びの方ご要望がある方はご記入ください</label>
    </div>
      <%= f.text_field :remarks, class: 'chat-room-form__input', placeholder: '備考欄'%>
    <input name="room[user_id]" type="hidden" value=<%= current_user.id %>>


    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
        <%= f.submit class: 'chat-room-form__action-btn'%>
    </div>
  <% end %>
</div>
