<!DOCTYPE html>
<html>
  <head>
    <title>ConnectStylist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/path/to/my.css" media="print" onload="this.media='all'; this.onload=null;">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  
  </body>
</html>
